@charset "UTF-8" ;
*{padding: 0; margin: 0; }
li{ list-style: none;}
a {color: #333; text-decoration: none; }
img { vertical-align:  top;}
body{font-family:'Pretendard-Regular','나눔고딕','맑은고딕', serif;}